
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Música Ecuatoriana</title>
    <link rel="icon" type="image/x-icon" href="../public/icons/icono.ico" />
    <!-- Google fonts-->
    <link
        href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="./public/vendor/template/css/styles.css" el="stylesheet" />
    <link rel="stylesheet" href="../public/css/estilos.css">
    <style>
        body {
            background-image: url('../public/img/fondo.png');

            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>


<body>
  
  <header>
        <div class="header-titles-containerTP">
            <p class="site-heading-upperTP">¡Mensaje enviado con éxito!</p>
            <h1 class="site-heading-lowerTP">Gracias por contactarnos. Tu mensaje ha sido recibido y nuestro equipo se pondrá en contacto contigo muy pronto.</h1>
            <a href="../index.html" onclick="loadPage(event, this.href)" class="btn btn-primary me-2 btn-final-tp">Volver al inicio</a>
        </div>
    </header>
</body>
</html>