<div class="containerGM">
    <h1 class="h1GM">Galería de Música Ecuatoriana</h1>
    <div id="lista-cancionesGM">
        <div class="cancion-cardGM" data-genero="pasillo">
            <div class="video-containerGM">
                <iframe src="https://www.youtube.com/embed/BwUhZv4m3T0" title="Julio Jaramillo - Ódiame"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="info-cancionGM">
                <h3>“Odiame”</h3>
                <p>Julio Jaramillo</p>
                <span class="genero-tagGM">Pasillo</span>
            </div>
        </div>
        <div class="cancion-cardGM" data-genero="pasillo">
            <div class="video-containerGM">
                <iframe src="https://www.youtube.com/embed/sPStjGfwC9k" title="Julio Jaramillo - Nuestro Juramento"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="info-cancionGM">
                <h3>Nuestro Juramento</h3>
                <p>Julio Jaramillo</p>
                <span class="genero-tagGM">Pasillo</span>
            </div>
        </div>
        <div class="cancion-cardGM" data-genero="pasillo">
            <div class="video-containerGM">
                <iframe src="https://www.youtube.com/embed/jg1VAH5WdeI" title="Julio Jaramillo - 5 Centavitos"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="info-cancionGM">
                <h3>5 Centavitos</h3>
                <p>Julio Jaramillo</p>
                <span class="genero-tagGM">Pasillo</span>
            </div>
        </div>

        <div class="cancion-cardGM" data-genero="albazo">
            <div class="video-containerGM">
                <iframe src="https://www.youtube.com/embed/5_8_am4ageg?si=z5Oos-JXZLVinDDj"
                    title="Paulina Tamayo - Avecilla"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="info-cancionGM">
                <h3>Avecilla</h3>
                <p>Paulina Tamayo</p>
                <span class="genero-tagGM">Albazo</span>
            </div>
        </div>

        <div class="cancion-cardGM" data-genero="albazo">
            <div class="video-containerGM">
                <iframe src="https://www.youtube.com/embed/TW8Zv7K27kk" title="Hermanos Nuñez - La Sinverguenza"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="info-cancionGM">
                <h3>La Sinverguenza</h3>
                <p>Hermanos Nuñez</p>
                <span class="genero-tagGM">Albazo</span>
            </div>
        </div>

        <div class="cancion-cardGM" data-genero="sanjuanito">
            <div class="video-containerGM">
                <iframe src="https://www.youtube.com/embed/39JaJ398xwE" title="Hermanos Miño Naranjo - Cuitas de amor"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="info-cancionGM">
                <h3>Cuitas de amor</h3>
                <p>Hermanos Miño Naranjo</p>
                <span class="genero-tagGM">Sanjuanito</span>
            </div>
        </div>

        <div class="cancion-cardGM" data-genero="sanjuanito">
            <div class="video-containerGM">
                <iframe src="https://www.youtube.com/embed/wKPVL0MjpRM?si=V98HtPCgnY4ilnY1"
                    title="Trio los brillantes de oro - Pobre corazon entristecido"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="info-cancionGM">
                <h3>Pobre corazon entristecido</h3>
                <p>Trio los brillantes de oro</p>
                <span class="genero-tagGM">Sanjuanito</span>
            </div>
        </div>

        <div class="cancion-cardGM" data-genero="bomba">
            <div class="video-containerGM">
                <iframe src="https://www.youtube.com/embed/6YI1sp2e88Y" title="Marabu - Bomba Caliente"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="info-cancionGM">
                <h3>Bomba Caliente</h3>
                <p>Marabu</p>
                <span class="genero-tagGM">Bomba</span>
            </div>
        </div>

        <div class="cancion-cardGM" data-genero="bomba">
            <div class="video-containerGM">
                <iframe src="https://www.youtube.com/embed/JddW7YQIrPU" title="Marabu - Me ire me ire"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="info-cancionGM">
                <h3>Me ire me ire</h3>
                <p>Marabu</p>
                <span class="genero-tagGM">Bomba</span>
            </div>
        </div>

        <div class="cancion-cardGM" data-genero="albazo">
            <div class="video-containerGM">
                <iframe src="https://www.youtube.com/embed/ack-cq8D9lI" title="Hermanos Nuñez - Tormentos"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="info-cancionGM">
                <h3>Tormentos</h3>
                <p>Hermanos Nuñez</p>
                <span class="genero-tagGM">Albazo</span>
            </div>
        </div>

        <div class="cancion-cardGM" data-genero="pasillo">
            <div class="video-containerGM">
                <iframe src="https://www.youtube.com/embed/KUnesRfe3XM" title="Gerardo Moran - Cancion del alma"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="info-cancionGM">
                <h3>Cancion del alma</h3>
                <p>Gerardo Moran</p>
                <span class="genero-tagGM">Pasillo</span>
            </div>
        </div>


        <div class="cancion-cardGM" data-genero="albazo">
            <div class="video-containerGM">
                <iframe src="https://www.youtube.com/embed/t56A6Nh3q98" title="Trio Los Embajadores - El Canelazo"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="info-cancionGM">
                <h3>El Canelazo</h3>
                <p>Trio Los Embajadores</p>
                <span class="genero-tagGM">Albazo</span>
            </div>
        </div>





    </div>
</div>

</div>
</div>