<section class="masthead">
    <div class="container">
        <div class="masthead-heading">
            ¡Bienvenido a mi Mundo Personal!
        </div>

        <div class="masthead-subheading">
            Soy Andrés Cárdenas, un estudiante apasionado por la tecnología, los
            videojuegos y la música.
            En este pequeño espacio quiero compartir algunas de las cosas que más disfruto y
            las materias que me han gustado durante mi aprendizaje.
        </div>
        <figure class="figure">
            <img src="../public/img/AndresCardenas.jpeg" class="figure-img img-fluid rounded w-50"
                alt="foto no encontrada" />
            <figcaption>Andrés Cárdenas</figcaption>
        </figure>

    </div>
</section>